<div class="container-fluid">
  <div class=" jumbotron-fluid ">
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
      <a class="navbar-brand" href="#">Smart House</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Temperature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meteo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1>Smart House</h1>
    <h5>To make your House Smart!</h5>
    <!--<i class="material-icons">
      wb_sunny
      wb_cloudy
      grain
      filter_drama
    </i>
    <br>-->
    <i class="wi wi-fw wi-day-sunny"></i>
    <i class="wi wi-day-rain"></i>
    <i class="wi wi-day-lightning"></i>
    <i class="wi wi-day-cloudy"></i>

  </div>

  <div class="container">
    <button (click)="currentTemp()" class="btn btn-primary btn-sm">Temperature Correnti</button>
    <button (click)="Tempo()" class="btn btn-primary btn-sm">Tempo</button>
    <div *ngIf="show1">
      Temp: {{temp.temp}}<i class="wi wi-celsius"></i> <br>
      Umidità: {{temp.humidity}}<i class="wi wi-humidity"></i><br>
      Pressione: {{temp.pressure}}<i class="wi wi-barometer"></i>
      <hr>

    </div>
    <div *ngIf="show">
      Temp: {{tempo.main.temp}}<i class="wi wi-celsius"></i> <br>
      Temp min: {{tempo.main.temp_min}}<i class="wi wi-celsius"></i><br>
      Temp Max: {{tempo.main.temp_max}}<i class="wi wi-celsius"></i><br>
      Umidità: {{tempo.main.humidity}}


    </div>
  </div>
</div>


